
/* Style Index.jsx */

.BodIndex{
    padding: 150px;    
    padding-top: 0px;
    padding-bottom: 0px;
}
.BodIndex .Pag1{
    width: 100%;
    float: left;
}
.BodIndex .Pag2{
    width: 100%;
    height: 100vh;

    float: left;
}
.BodIndex .Pag1 .Left{
    width: 50%;
    float: left;
}
.BodIndex .Pag1 .Right{
    width: 50%;
    float: left;
}
.BodIndex .Pag1 .Left .Group , .BodIndex .Pag1 .Right .Group{
    padding: 10px;
}
.BodIndex .Pag1 .Left .Group .BtnPart button{
    width: 100px;
    
    padding: 10px;
    
    border: none;
    border-radius: 5px;

    font-weight: bold;
    cursor: pointer;
    outline: none;
}


/* Style Signup.jsx */

.BodSignup{
    float: left;
    padding-top: 15px;
}
.BodSignup .Box{
    background-color: white;
    
    border-radius: 5px;
    /* box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.06); */

    padding: 25px;
    padding-top: 0px;
}
.BodSignup .Box:hover{
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.06);
}
.BodSignup .Box .Txt-title{
    padding-top: 25px;
    padding-bottom: 5px;
}
.BodSignup .Box .Txt-title .Txt-big{
    color: rgba(22, 152, 184, 0.794);

    font-size: 2.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}
.BodSignup .Box .Txt-desc{    
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    
    color: dimgray;    
}
.BodSignup .Box .Form-group .Txt-label{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.BodSignup .Box .Form-group .Txt-label label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-weight: 450;

    color:rgba(0, 0, 0, 0.746);
}
.BodSignup .Box .Form-group .Form-input{
    width: 95%;

    padding: 14px;
    padding-right: 0px;

    border-radius: 5px;
    border: 1px solid rgb(177, 175, 175);

    font-family: 'Poppins', sans-serif;

    outline: none;
}
.BodSignup .Box .Form-group .Form-input:hover{
    border: 1px solid rgb(104, 186, 224);
}
.BodSignup .Box .Form-group .Form-input:focus{
    border: 1.5px solid rgb(104, 186, 224);
}
.BodSignup .Box .Form-group .Btn-part{
    padding-top: 25px;
    text-align: center;
}
.BodSignup .Box .Form-group .Btn-part .BtnSignup{
    width: 100% ;
    padding: 22.5px;
    
    background-color: rgba(22, 152, 184, 0.794);
    color: white;

    font-weight: bold;
    font-size: medium;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}
.BodSignup .Box .Form-group .Btn-part .BtnSignup:hover{
    background-color: rgba(23, 171, 207, 0.794);
}
.BodSignup .Box .Form-group .Btn-part span{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
}
.BodSignup .Box .Form-group .Terms-part{
    padding-top: 40px;
}
.BodSignup .Box .Form-group .Terms-part .Txt-terms{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
}

/* Sytle Quote.jsx */

.BodQuote{
    width: 100%;
    float: left;

    padding-top: 150px;

    font-family: 'Poppins', sans-serif;
}
.BodQuote .Txt-title span{
    font-size: 3em;
    font-weight: bold;
}
.BodQuote .Txt-title{
    padding-bottom: 20px;
}
.BodQuote .Txt-desc span{
    font-size: 2em;    
    color: rgba(0, 0, 0, 0.938);
    line-height: 35px;
}
.BodQuote .Txt-desc {
    padding-bottom: 50px;
}

/* Style Login.jsx */

.FrameLog{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FrameLog .BodLog{
    width: 300px;
    min-height: 300px;
    height: auto;
}
.FrameLog .BodLog .Box{
    width: 100%;

    border-radius: 5px;
}
.FrameLog .BodLog .Box:hover{
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.06);
}
.FrameLog .BodLog .Box .Group{
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.FrameLog .BodLog .Row1{
    text-align: center;

    padding-top: 25px;
    padding-bottom: 15px;
}
.FrameLog .BodLog .Row1 span{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
}
.FrameLog .BodLog .Box .Group .Row2 .row1, .FrameLog .BodLog .Box .Group .Row2 .row3{
    padding-bottom: 7px;
}
.FrameLog .BodLog .Box .Group .Row2 .row2, .FrameLog .BodLog .Box .Group .Row2 .row4{
    padding-bottom: 5px;
}
.FrameLog .BodLog .Box .Group .Row2 .txt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;   
    font-size: 0.85em; 
}
.FrameLog .BodLog .Box .Group .Row2 .input{
    padding: 10px;
    padding-right: 0px;

    width: 95%;

    border-radius: 3.5px;
    border: 1px solid lightgray;

    outline: none;
}
.FrameLog .BodLog .Box .Group .Row2 .input:hover{
    border: 1px solid rgb(104, 186, 224);
}
.FrameLog .BodLog .Box .Group .Row2 .input:focus{
    border: 1.5px solid rgb(104, 186, 224);
}
.FrameLog .BodLog .Box .Row3{
    padding-top: 25px;
}
.FrameLog .BodLog .Box .Group .Row3 button{
    padding: 15px;
    
    width: 100%;

    border-radius: 5px;
    border: none;

    background-color: rgba(22, 152, 184, 0.794);

    color: white;
    font-weight: bold;

    cursor: pointer;
}
.FrameLog .BodLog .Box .Group .Row3 button:hover{
    background-color: rgba(22, 152, 184, 0.699);
}
.FrameLog .BodLog .Row4{
    padding-bottom: 25px;
    padding-top: 15px;

    text-align: center;
}
.FrameLog .BodLog .Row4 span{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
}
