@media screen and (max-width:1100px){
    .BodIndex{
        padding: 100px;   
        padding-top: 0px;
        padding-bottom: 0px;         
    }
}

@media screen and (max-width:1000px){
    .BodIndex{
        padding: 50px;   
        padding-top: 0px;
        padding-bottom: 0px;         
    }
}

@media screen and (max-width:900px){
    
    .BodSignup .Box:hover{
        box-shadow: none;
    }

    .BodIndex .Pag1 .Left{
        width: 100%;
        float: left;
    }
    .BodIndex .Pag1 .Right{
        width: 100%;
        float: left;
    }
    .BodQuote{
        padding-top: 50px;
        text-align: center;
    }
    .BodIndex .Pag1 .Left .Group .BtnPart{     
        text-align: center;
    }
}

@media screen and (max-width:500px){
    .BodIndex{
        padding: 5px;   
        padding-top: 0px;
        padding-bottom: 0px;         
    }
}

@media screen and (max-width: 450px){
    .FrameLog .BodLog .Box:hover{
        box-shadow: none;
    }
}

@media screen and (max-width:350px){
    .FrameLog{
        width: 100%;
    }
    .FrameLog .BodLog{
        width: 100%;
    }
}

@media screen and (max-height: 850px){
    .FrameLog{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-height: 500px){
    .FrameLog{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-height: 425px){
    .FrameLog{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-height: 355px){
    .FrameLog{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
